body {
    background-color:lightblue;
}

.petStyles,  
.buttonStyles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.btn,
.card {
      margin: 10px;
  }

  .petName {
      text-align: center;
  }

  .petColor,
  .petSkill,
  .petType {
      text-align: center;
  }

  .deleteBtn {
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 15px;
  }

.card-body {
    justify-content: center;
}