body {
    background-color:lightblue;
}

.petStyles,  
.buttonStyles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.btn,
.card {
      margin: 10px;
  }

  .petName {
      text-align: center;
  }

  .petColor,
  .petSkill,
  .petType {
      text-align: center;
  }

  .petType {
    background-color:aquamarine;
  }

  .petImage {
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    border: ridge 8px lightblue
  }

  .deleteBtn {
    background-color: red;
    color: black;
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 0;
  }